<!DOCTYPE html>
<html>
  <head>
    <title>HomeSeekers | Holidays, Rentals, Cabins, Beach Houses & More</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/stimulus@2.0.0/dist/stimulus.umd.min.js"></script>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
    <%= javascript_importmap_tags %>


    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    <%= stripe_javascript_tag %>




  </head>

  <body>
    <%= link_to root_path do %>
      <%= image_tag("airbnblogo.svg", class: "h-8 w-auto", alt: "Airbnb Logo") %>
    <% end %>


    <%= render 'shared/notice' %>
    <%= render 'shared/alert' %>



    <% unless (controller_name == 'registrations' && action_name == 'new') ||
              (controller_name == 'sessions' && action_name == 'new') %>
      <%= render 'headers/header' %>
    <% end %>

    <%= yield %>
  </body>
</html>
